*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: white;
  --black: black;
  --main: c0392b;
  --lightBlack: #2c2c2c;
}
body{

}
.container{
  width: 1300px;
  margin-top: 0 auto;
}
.nav{
  width:100%;
  height: 70px;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  background: var(--white);
}
.nav-container{
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.header{
  background: url("https://via.placeholder.com/1000");
  width: 100%;
  height: 100vh;
}
.cart-icon{
  color: var(--main);
  font-size: 24px;
}
.basket{
  position: relative;
}
.basket span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: var(--lightBlack);
  border-radius: 50%;
  color: var(--white);  

}